.home-container .main-container .img-container {
    flex: 6;
}

.home-container .main-container .desc-container {
    flex: 4;
}

/* IMG CONTAINER */

.home-container .img-container img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.home-container .img-container .img-inner {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.home-container .img-container .img-inner:after {
    display: block;
    content: '';
    padding-top: 75%;
}

/* END OF IMG CONTAINER */

/* DESCRIPTION CONTAINER */

.home-container .desc-container .motor-price {
    margin-bottom: 1rem;
}