.home-container {
    display: flex;
    justify-content: center;
}

.home-container article {
    color: white;
}

.home-container .dots-container,
.home-container .text-container {
    flex: 1;
}

.home-container .main-container {
    flex: 10;
}

.home-container .main-container > section {
    padding: 0 1rem;
}

.home-container .main-container .img-container {
    flex: 6;
}

.home-container .main-container .desc-container {
    flex: 4;
}

/* DOTS CONTAINER */

.home-container .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .dots-container .dots-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-container .dots-container .dot {
    margin: 0.75rem;
    height: 1rem;
    width: 1rem;
    border: 1px solid #64D130;
    border-radius: 50%;
    display: inline-block;
}

.home-container .dots-container .dot.active {
    background: #64D130;
}

/* END OF DOTS CONTAINER */

/* IMG CONTAINER */

.home-container .img-container img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.home-container .img-container .img-inner {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.home-container .img-container .img-inner:after {
    display: block;
    content: '';
    padding-top: 75%;
}

/* END OF IMG CONTAINER */

/* DESCRIPTION CONTAINER */

.home-container .desc-container .motor-model {
    color: #64D130;
    letter-spacing: 0.05rem;
    margin-bottom: 1.5rem;
}

.home-container .desc-container .motor-price {
    margin-bottom: 1rem;
}

.home-container .desc-container .read-more-link {
    color: #64D130;
    padding: 0.5rem 0;
}

/* ROTATED TEXT CONTAINER */

.home-container .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .text-container .text-inner {
    position: relative;
}

.home-container .text-container .text-inner p {
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    right: -10rem;
    width: 21rem;
    padding-bottom: 0;
}

/* END OF ROTATED TEXT CONTAINER */

/* RESPONSIVE */

@media screen and (min-width: 800px) {
    .home-container .main-container {
        flex: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
